---
page_title: "Provider: Zentral"
description: |-
  The Zentral provider is used to manage Zentral resources.  
---

# Zentral Provider

The Terraform Zentral provider is a plugin for Terraform that allows for the
management of [Zentral](https://github.com/zentralopensource/zentral/) resources.

## Example Usage

{{ tffile "examples/main.tf" }} 

{{ .SchemaMarkdown | trimspace }}